.header {
    background-color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
}
body {
    background-color: bisque;
}
.recipe{
    font-family: 'Courier New', monospace;
    font-weight: 700;
}